<!-- custom head content-->
<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Itim&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
  rel="stylesheet" async fetchpriority="high">
<link
  href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
  rel="stylesheet">

<!-- Matomo analytics is loaded conditionally via cookie-consent.html -->

<!-- END custom head content-->
