_site/
# Hugo (root site)
public/
resources/
.hugo_build.lock
node_modules/
jekyll/_site/
.sass-cache/
.jekyll-metadata
_config-dev.yml
_config.yml
Gemfile.lock
.DS_Store
images/full-images/
all_contribs.pickle
.vale.ini
styles/*
tmp/*
.bundle
**/.ipynb_checkpoints/
