<div class="notice" markdown="1">

<i class="fa-solid fa-users-line"></i> Connect with us!
{: .header }

There are many ways to get involved if you're interested!

* If you read through our lessons and want to suggest changes, open an issue in our [lessons repository here](https://github.com/pyOpenSci/lessons)
* [Volunteer to be a reviewer for pyOpenSci's software review process](https://forms.gle/GHfxvmS47nQFDcBM6)
* [Submit a Python package to pyOpenSci for peer review](https://www.pyopensci.org/software-peer-review/how-to/author-guide.html#submit-your-package-for-peer-review)
* [Donate to pyOpenSci](https://give.communityin.org/pyopensci_2024) to support scholarships for future training events and the development of new learning content.
* Check out our [volunteer page](/volunteer.html) for other ways to get involved.

You can also:

* Keep an eye on our [events page](/events.html) for upcoming training events.

Follow us on social platforms:

* [<i class="fa-brands fa-mastodon" style="color:#81c0aa;"></i> Mastodon]({{ site.social.mastodon }})
* [<i class="fa-solid fa-cloud" style="color:#81c0aa;"></i> Bluesky]({{ site.social.bluesky }})
* [<i class="fa-brands fa-linkedin" style="color:#81c0aa;"></i> LinkedIn]({{ site.social.linkedin }})
* [<i class="fa-brands fa-github" style="color:#81c0aa;"></i> GitHub]({{ site.social.github }})
* [<i class="fa-brands fa-youtube" style="color:#81c0aa;"></i> YouTube]({{ site.social.youtube }})

If you are on LinkedIn, check out and [subscribe to our newsletter](https://www.linkedin.com/newsletters/7179551305344933888/?displayConfirmation=true).

You can also:

* Check out our [Python Package Guide](https://www.pyopensci.org/python-package-guide/index.html) for comprehensive packaging guidance
* Keep an eye on our [events page](/events.html) for upcoming training events

</div>
