<article class="event-card">
    <a href="{{ post.url | relative_url }}">
      <div class="event-card__content">
        <div class="event-card__date">
            {% if posttime > nowunix %}
                <!-- Style upcoming events to be more vibrant -->
                <div class="event-card__date-background" style="background-image: linear-gradient(rgba(20, 13, 36, 0.8), rgba(20, 13, 36, 0.8)),  url('{{ post.header.overlay_image | relative_url }}');"></div>
               {% else %}
               <div class="event-card__date-background" style="background-image: url('{{ post.header.overlay_image | relative_url }}');"></div>
               {% endif %}

          <div class="event-card__date-text">
            {% assign start_date = post.event.start_date | date: "%d" %}
            {% assign end_date = post.event.end_date | date: "%d" %}
            {% assign start_month = post.event.start_date  | date: "%b" %}
            {% assign start_year = post.event.start_date | date: "%Y" %}
            {% if end_date and end_date != start_date %}
              <span> {{ start_date }}-{{ end_date }}</span>
            {% else %}
              <span>{{ start_date }}</span>
            {% endif %}
            <span>{{ start_month }}</span>
            <span>{{ start_year }}</span>
          </div>
        </div>
        <div class="event-card__details">
          <h3 class="event-card__title">{{ post.title | markdownify | strip_html }}</h3>
          <p>{{ post.excerpt }}</p>
          <a href="{{ post.url | relative_url }}" class="event-card__button">Learn More</a>
        </div>
      </div>
    </a>
  </article>
