<div class="page__footer-follow">
    <ul class="social-icons">
      {% if site.data.ui-text[site.locale].follow_label %}
        <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
      {% endif %}

      {% if site.footer.links %}
        {% for link in site.footer.links %}
          {% if link.label and link.url %}
          {% if link.label == "Mastodon" %}
            <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer me" data-proofer-ignore><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
            {% else %}
            <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}

      {% unless site.atom_feed.hide %}
        <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
      {% endunless %}
    </ul>
  </div>

  <div class="page__footer-copyright">
    <p>pyOpenSci is a fiscally sponsored project of <a href="https://communityinitiatives.org/" target="_blank">Community Initiatives</a>, a registered 501(c)3 non-profit organization based in California, USA.
      pyOpenSci is grateful for support from the <a href="https://sloan.org/" target="_blank">Sloan Foundation</a> and the <a href="https://chanzuckerberg.com/" target="_blank">Chan Zuckerberg Initiative</a>.
    </p>
    <p>pyOpensci is dedicated to creating a welcoming, supportive and diverse community around the open source Python tools that drive open science. Our <a href="https://www.pyopensci.org/handbook/CODE_OF_CONDUCT.html" target="_blank">Code of Conduct</a> defines expected behavior and guidelines that help create such a community.
    </p>

    &copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}</div>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script src="https://npmcdn.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
  <script src="https://npmcdn.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
  <script src="{{ '/assets/js/dropdown.js' | relative_url }}"></script>
  <script src="https://kit.fontawesome.com/2409929a54.js" crossorigin="anonymous" async></script>
