<div class="element-item cards bubble {% for aCategory in apackage.categories %}
{{ aCategory }}
{% endfor %}" data-category="data">
    <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
        <h3 class="card__title no_toc" itemprop="headline">
            {{ apackage.package_name }}
        </h3>
        <p class="page__meta contributors">
            <span><i class="fas fa-feather" aria-hidden="true"></i>
            {% if apackage.all_current_maintainers %}
                {% for maintainer in apackage.all_current_maintainers %}
                    <a href="https://github.com/{{ maintainer.github_username }}" rel="maintainer" target="_blank">
                        {% if maintainer.name %}
                            {{ maintainer.name }}{% if forloop.last == false %},{% endif %}
                        {% else %}
                            {{ maintainer.github_username }}{% if forloop.last == false %},{% endif %}
                        {% endif %}
                    </a>
                {% endfor %}
            {% elsif apackage.submitting_author.name != 'Name' %}
                <a href="https://github.com/{{ apackage.submitting_author.github_username }}" rel="maintainer" target="_blank">
                    {{ apackage.submitting_author.name }}
                </a>
            {% else %}
                <a href="https://github.com/{{ apackage.submitting_author.github_username }}" rel="maintainer" target="_blank">
                    {{ apackage.submitting_author.github_username }}
                </a>
            {% endif %}
            </span>
        </p>
        <span class="narrow">
            <p class="archive__item-excerpt narrow" itemprop="description">
                {{ apackage.package_description | markdownify }}
            </p>
        </span>
        <ul>
            <li><a href="{{ apackage.repository_link }}" rel="permalink"><i class="fab fa-github"></i> View Code</a></li>
            {% if apackage.gh_meta.documentation %}
                <li><a href="{{ apackage.gh_meta.documentation }}" rel="permalink"><i class="fas fa-book-open"></i> View Docs</a></li>
            {% endif %}
            <li><a href="{{ apackage.issue_link }}"><i class="fa-solid fa-user-pen"></i> View Review</a></li>

            {% if apackage.archive and apackage.joss == nil %}
                {% assign raw_string = apackage.archive %}
                {% if raw_string contains "github.com" %}
                <!-- If github is in the link, it's a link to a tag -->
                    <li>
                        <a href="{{ raw_string }}" rel="permalink">
                            <i class="fas fa-bookmark fa-fw"></i> GitHub Tag:
                        </a>
                    </li>
                {% elsif raw_string contains "latest" %}
                    <li>Missing tagged DOI</li>
                {% elsif raw_string contains "doi.org/" %}
                    <!-- This isn't working when the badge is latest doi because it has zenodo.org not doi.org -->

                    {% assign doi_url = raw_string | split: 'doi.org/' | last %}
                    {% assign doi = doi_url | split: ')' | first %}
                    <li>
                        Cite: <a href="https://doi.org/{{ doi }}" rel="permalink">
                            <img src="https://zenodo.org/badge/DOI/{{ doi | uri_escape }}.svg" alt="DOI badge for {{ doi }}">
                        </a>
                    </li>
                {% endif %}
            {% endif %}

            {% if apackage.joss %}
                {% assign raw_string = apackage.joss %}
                {%- comment -%}
                Split to isolate the DOI URL from the markdown string
                {%- endcomment -%}
                {% assign doi_url = raw_string | split: 'doi.org/' | last %}
                {% assign doi_url = doi_url | split: ')' | first %}
                <li><i class="fa-solid fa-thumbs-up"></i> Cite:
                    <a href="https://doi.org/{{ doi_url }}" target="_blank">
                        <img src="https://zenodo.org/badge/DOI/{{ doi_url | uri_escape }}.svg" alt="DOI badge for {{ doi }}">
                    </a>
                </li>
            {% endif %}
            {% if apackage.astropy %}
                True
                <li><a href="communities/astropy.html"><i class="fa-solid fa-check-double"></i> <img src="http://img.shields.io/badge/Affiliated-Astropy-orange.svg?style=flat" alt="Astropy" /></a></li>
            {% endif %}
            {% if apackage.sunpy %}
                <!-- TODO: Create and use sunpy.html here -->
                <li><a href="communities/astropy.html"><i class="fa-solid fa-check-double"></i> <img src="http://img.shields.io/badge/Affiliated-SunPy-yellow.svg?style=flat" alt="SunPy" /></a></li>
            {% endif %}
        </ul>
        <hr>
        {% if include.community %}
            <h4>Package stats</h4>
            <ul>
                <li><strong>All Time Contributors:</strong> {{ apackage.gh_meta.contrib_count }}</li>
                <li><strong>Last Commit date:</strong> {{ apackage.gh_meta.last_commit }}</li>
                <li><strong>Date Created:</strong> {{ apackage.gh_meta.created_at }}</li>
            </ul>
        {% endif %}
    </article>
</div>
