
<div class="element-item cards bubble {% for aCategory in apackage.categories %}
{{ aCategory }}
{% endfor %}" data-category="data">

{% for aCategory in apackage.categories %}
{{ aCategory }}
{% endfor %}
    <article
        class="archive__item"
        itemscope=""
        itemtype="https://schema.org/CreativeWork"
    >
        <h3 class="card__title no_toc" itemprop="headline">
            {{ apackage.package_name }}
        </h3>
        <p class="page__meta contributors">
            <span><i class="fas fa-feather" aria-hidden="true"></i>
            {% if apackage.all_current_maintainers %}
                {% for maintainer in apackage.all_current_maintainers %}
                    <a
                        href="https://github.com/{{ maintainer.github_username }}"
                        rel="maintainer"
                        target="_blank"
                    >
                        {% if maintainer.name %}
                            {{ maintainer.name }}{% if forloop.last == false %},{% endif %}</a>
                        {% else %}
                            {{ maintainer.github_username }}{% if forloop.last == false %},{% endif %}</a>
                        {% endif %}
                {% endfor %}
            {% elsif apackage.submitting_author.name != 'Name' %}
                <a
                    href="https://github.com/{{ apackage.submitting_author.github_username }}"
                    rel="maintainer"
                    target="_blank"
                >
                    {{ apackage.submitting_author.name }}
                </a>
            {% else %}
                <a
                    href="https://github.com/{{ apackage.submitting_author.github_username }}"
                    rel="maintainer"
                    target="_blank"
                >
                    {{ apackage.submitting_author.github_username }}
                </a>
            {% endif %}
         </span>
        </p>
        <span class="narrow">
            <p class="archive__item-excerpt narrow" itemprop="description">
                {{ apackage.package_description | markdownify }}
            </p>
        </span>
        <ul>
            <li>
                <a href="{{ apackage.repository_link }}" rel="permalink">
                    <i class="fab fa-github"></i> View Code
                </a>
            </li>
            {% if apackage.gh_meta.documentation %}
                <li>
                    <a
                        href="{{ apackage.gh_meta.documentation }}"
                        rel="permalink"
                    >
                        <i class="fas fa-book-open"></i> View Docs
                    </a>
                </li>
            {% endif %}
            {% if apackage.citation-link %}
                <li>
                    <a href="{{ apackage.archive }}" rel="permalink">
                        <i class="fas fa-bookmark fa-fw"></i> Cite
                    </a>
                </li>
            {% endif %}
                <li>
                    <a href= "{{ apackage.issue_link }}"> <i class="fa-solid fa-user-pen"></i> View Review </a>
                </li>

        </ul>

    </article>
    </div>
