---
# Only the main Sass file needs front matter (the dashes are enough)
---

body {font-size:90%}

.contrib_org {font-weight:normal;
  font-size:70%!important;
  margin-bottom: 0!important;

}

/* package cards splash */

.grid__wrapper {
  display: flex;
}

.card p {
  font-size: .9em
}

.cards h2 a {
  text-decoration: none;
  font-size: 1.2em;
}

/* author list */
.cards .page__meta-readtime {
  font-size: 1.1em;
}

.cards {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00838d;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
  }

  &:hover:before {
    transform: scale(2.15);
  }
}

/* Fix buttons and text in notice boxes */
.notice--info .btn.btn--info {
  color:#fff;
}

.notice--info .archive__item-excerpt {
  font-size: .95em;
}

.notice--info h2 {
  font-size: 1.5em;
}

.notice--info h3 a, .notice--info h2 a:visited {
  font-size: 1.5em;
  text-decoration: none;
  font-size: 1.0em;
}
/* Adding a 3 col grid */

    

@charset "utf-8";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
