---
# Only the main Sass file needs front matter (the dashes are enough)
---

body {font-size:90%}


// styles for the grid of people 
.contrib_avatar {
  border-radius: 50%;
}



/* Create & style a 3x3 grid wrapper */
.grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);

  h4.grid_title {
    font-size: 1.4em;
    text-align: center;
  }

  h4.grid_title a {
    text-decoration: none;
  }
  .person__item {
    margin: 2.2em;
  }
}

div > div {
  padding: 10px;
  //background-color: #ccc;
}

@media screen and (max-width: 800px) {

  .grid {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {

  .grid {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(1, 1fr);
  }
}



.contrib_org {font-weight:normal;
  font-size:70%!important;
  margin-bottom: 0!important;

}

/* package cards splash */

.grid__wrapper {
  display: flex;
}

.card p {
  font-size: .9em
}

.cards h2 a {
  text-decoration: none;
  font-size: 1.2em;
}

/* author list */
.cards .page__meta-readtime {
  font-size: 1.1em;
}

.cards {
  display: block;
  top: 0px;
  position: relative;
  max-width: 362px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00838d;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
  }

  &:hover:before {
    transform: scale(2.15);
  }
}

/* Adjust font size on cards  */
.narrow {
  font-size: .92em!important;
}

/* Fix people page - allow for tall images */
.archive__item-teaser.tall {
  max-height: 320px!important;
}

h2.clearall {
  clear: both;
}

/* Fix buttons and text in notice boxes */
.notice--info .btn.btn--info {
  color:#fff;
}

.notice--info .archive__item-excerpt {
  font-size: .95em;
}

.notice--info h2 {
  font-size: 1.5em;
}

.notice--info h3 a, .notice--info h2 a:visited {
  font-size: 1.5em;
  text-decoration: none;
  font-size: 1.0em;
}

.wide__p_text{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

/* Adding a 3 col grid */



@charset "utf-8";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
