---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

// VARIABLES

$border-color: #ccc;
$intro-transition: intro 0.3s both !default;
$primary-color: #ccc;
$nav-font-color: #535a60;
$nav-hover-color: #8d0065;
$global-transition: all 0.2s ease-in-out !default;

/* system typefaces */
$serif: Georgia, Times, serif !default;
$sans-serif: "Open Sans", sans-serif; //-apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
  //"Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
$monospace: 'Open Sans', sans-serif!default;

/* sans serif typefaces */
$sans-serif-narrow: $sans-serif !default;
$header-font: 'Raleway', sans-serif;
$body-font: 'Open Sans', sans-serif;

$global-font-family: $body-font !default;
$header-font-family: $header-font !default;
$caption-font-family: $serif !default;

/* type scale */
$type-size-1: 2.441em !default; // ~39.056px h1
$type-size-2: 1.9em !default; // ~31.248px h2 ...
$type-size-3: 1.563em !default; // ~25.008px h3
$type-size-4: 1.85em !default; // ~20px
$type-size-5: .9em !default; // ~16px body?
$type-size-6: 0.75em !default; // ~12px
$type-size-7: 0.6875em !default; // ~11px
$type-size-8: 0.625em !default; // ~10px

body {font-size:90%;}

h1,
h2,
h3,
h4,
h5,
h6, .archive__item-title {
  margin: 2em 0 0.5em;
  line-height: 1.2;
  font-family: $header-font-family;
}

h2 {
  font-size: $type-size-2!important;
  color: #314d68; //make this a header color
}

h3 {
  font-size: $type-size-3!important;
}

.wide #main {
  padding-left: 6em;
  padding-right: 6em;
}

.archive__item-title {
  font-family: $header-font-family!important;
  font-size: .9em !important;
}

.page__content p, .page__content li {
  font-size: $type-size-5!important;
}

/* */

.wide .archive {
  width: calc(100% - 100px);
}

/* Sidebar author with circle font and header font adjustment */
.sidebar .author__name {
  font-family: $header-font!important;
  font-size: .9em;
}

.page__lead {
  font-size: 1em!important;
}

/* styles for the people grid  */
.contrib_avatar {
  border-radius: 50%;
}

.ppl_img {
  padding-left: 2em;
  padding-right: 2em;
}

.ppl_social a {
  margin-right: 10px;
  text-decoration: none !important;
}

.grid.people {
  grid-gap: 60px;
}
.person__item {
  //margin: 2.2em;
  text-align: center;
}

h4.person_name {
    margin-top: 0.6em;
    margin-bottom: 0;
    font-size: 1.3em;
  a {
    text-decoration: none;
  }
}

.person_img {
  -webkit-filter: drop-shadow(3px 3px 3px #999);
  filter: drop-shadow(3px 3px 3px #999);
}

.person_img img {
  width: 100%;
}

/* Create & style a 3x3 grid wrapper */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;

  h4.grid_title {
    font-size: 1.6em;
    margin-top: 1em;
  }
  .grid_title {
    margin-bottom: 0
  }

  h4.grid_title a {
    text-decoration: none;
  }

  .page__meta.title {
    font-size: 1em!important;
    text-align: center;
    font-size: 1.7em;
    padding-top: 0;
    margin-top: 0;
  }
  .page__meta .bio p {
    font-size: .7em;
    line-height: .2em!important;
  }
}

div > div {
  padding: 10px;
}

.contrib_org {font-weight:normal;
  font-size:70%!important;
  margin-bottom: 0!important;
}

/* BEGIN Top nav drop down styles
/* replaces mm greedy_nav */
.nav__topbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 2em;
  background: #fff;
}

/* Center logo in div - TODO: adjust fonts (will do this at end) */
.site-subtitle {
  font-weight: 400;
  font-size: .8em!important;
  color: $nav-font-color;
}

.site-logo img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-height: 3rem!important;
}


.nav__links {
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-left: auto!important;

  a {
    float: left;
    display: block;
    color: $nav-font-color!important;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: $global-transition;
  }

  a:hover {
    color: $nav-hover-color!important;
   }

  .icon {
    display: none;
  }
}

/* down arrow works better with ascii vs font awesome */
.downBtn {
  font-size: .8em;
}

/* Force button and a href fonts to be same size and style */
.dropdown .dropbtn, .nav__links a {
  font-size: 1em!important;
}

/* Make sure drop down horizontal doesn't push content down
(put push it down in vertical mode */
.nav__links .dropdown .dropdown-content {
  position: absolute;
  max-width: 25%;
}

/* Upon click the menu should turn into a vertical stacked menu with a soft
drop shadow
*/
.nav__links.vertical {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 2em;
  top: 90%;
  left: 0%;
  width: 100%;
  font-size: 1.2em;
  background-color: #fff;
  z-index: 1;
  border: 1px solid #f2f3f3;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

  li {
    width: 100%;
  }

  .dropdown-content {
    min-width: 100%;
  }
  .dropbtn {
    width: 100%;
    text-align: left;
  }

  a {
    float: none;
    display: block;
    text-align: left;
  }
  .dropdown {
    float: none;
  }

  .dropdown-content {position: relative;}

  .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

  .dropdown .dropdown-content {
    position: relative!important;
    width: 100%;
  }
}
/*  End nav links bar styles */

/* Begin burger stylin */

.hamburger__btn-toggle {
  display: none;
  align-self: center;
  height: 2rem;
  border: 0;
  outline: none;
  -ms-flex-item-align: center;
  background-color: transparent;
  cursor: pointer;
}

/* Setup the background with the white width and height 100% of screen */
.hamburger__btn-toggle::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}

/* Turn on white background when clicked - x for close */
.hamburger__btn-toggle.close::before {
  opacity: 0.9;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  pointer-events: auto;
  z-index: -1!important;
}

/* Begin burger styling: actual hamburger element (the horiz lines)*/
 .burger__icon {
  position: relative;
  width: 1.5rem;
  height: .25rem;
  background: #6f777d;
  margin: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Position the burger in it's x closed state - min mistakes didn't have to do this */
.close .burger__icon {
  position: absolute;
  top: auto;
  right: .1em;
}

/* Hide the middle bar when in "closed" style state so it's an x */
.close .burger__icon {
  background: transparent;
}

.burger__icon::before, .burger__icon::after {
	content: "";
	position: absolute;
	left: 0;
	width: 1.5rem;
	height: .25rem;
	background: #6f777d;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.burger__icon::after {
  bottom: -.5rem;
}
.burger__icon::before {
  top: -.5rem;
}

// This creates the x by rotating the burger bars
.close .burger__icon::after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}
.close .burger__icon::before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}

.close .burger__icon::before, .close .burger__icon::after {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  top: 0;
  width: 1.5rem;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  width: 1px !important;
  border: 0 !important;
  overflow: hidden;
}
/*  end burger */

/* Dropdown container for nav links */
.dropdown {
  float: left;
  overflow: hidden;

  .dropbtn {
    border: none;
    outline: none;
    color: $nav-font-color;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%;
  transition: all 0.25s ease-in;
  transform: translateY(-10px);
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  // color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #fff;
  color: $nav-hover-color;
}

.dropdown .dropdown-content.open {
  display: block;
}
/* This style may be removed ultimately - it is the fancy underline */

.hover-underline {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline {
  width: 100%;
  text-align: left !important;
}

.hover-underline:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $primary-color;
  -webkit-transition: $global-transition;
  transition: $global-transition;
  -webkit-transform: scaleX(0) translate3d(0, 0, 0);
  transform: scaleX(0) translate3d(0, 0, 0); // hide
}

.hover-underline:hover:after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1); // reveal
}

/* Add an active class to highlight the current page - might want to reinstate this */
.active {
  background-color: #04AA6D;
  color: white;
}


/* 768 px */
@media screen and (max-width: 768px) {

  .element-item {
    width:calc(90% - 10px)!important;
   }

  .narrow p {
    font-size: 0.9em!important;
  }
  .narrow {
    font-size: 0.9em!important;
  }

  .page__meta.contributors {
    font-size: .9em !important;
  }

  h2.archive__item-title, h3.archive__item-title {
    font-size: 1.3em!important;
  }

  .page__content, .archive__item {
    font-size: 1.2em
  }

  .hamburger__btn-toggle {
    //position: fixed; // not sure if this will help?
    display: block;
    position: absolute;
    top: 5%;
    right: 5%;}

  burger__icon, burger__icon::before, burger__icon::after {
    display: block; }

  /* Hide horizontal drop down links at 48em / 768px */
  .nav__links { display: none;}

/* Nav links goes vertical in responsive mode */
  .nav__links .vertical {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
   /* position search toggle by burger */
  .search__toggle {
    position: fixed;
    right: 8%;
    font-size: 1.4em;
    top: 5%;
  }

  .feature__item--center .archive__item-body, .archive__item-body {
    width: 100%!important;
    padding: 0!important;
  }

  .page__content p {
    font-size:1.2em!important;
  }
  .wide #main {
    padding-left: 2em;
  }
  .feature__item {
    width: 95%!important;
  }
  .cards {
    margin-right: auto!important;
    margin-left: auto!important;
  }

  .wide__p_text {
    max-width: 90%!important;
  }
  ol {
    font-size: 1.3em;

  }
}

/* End media query 48em / 768 px */


/* max 480 px */
@media screen and (max-width: 480px) {

  .feature__item {
    width: 100%!important;
  }
  .page__content p, .page__content li {
    font-size: 1.2em !important;
  }
  h1, h2, h3, .archive__item-title {
    font-size: 1.6em!important;
  }
  .btn--large {
    font-size: 1.3em!important;
  }

  .wide #main {
    padding-left: 1em;
    padding-right: 1em;
  }

  .wide__p_text {
    max-width: 90%!important;
    padding-left: 1em;
  }

  ol {
    padding-left: 1em;
  }
}

/* package cards splash */

.cards {

  p {
    font-size: .9em
  }

  h2 a {
    text-decoration: none;
    font-size: 1.2em;
  }

  h3.card__title.no_toc {
    margin-top: .3em;
    font-size: 1.5em;
  }

  .page__meta.contributors {
    font-size: .7em;
  }

  .contributors a {
    text-decoration: none;
  }

  ul {
    font-size: .8em;
    list-style-type: none;
    margin-left: 0;
    padding: .2em;
  }

  ul a {
    text-decoration: none;
  }
}


/* Blog grid styles*/

.blog__grid .cards {
  padding: 0 !important;

  .card-excerpt{
    font-size: .8em;
  }
  .card-title {

  }
}

.grid__wrapper {
  display: flex;
}

.cards h2 a {
  text-decoration: none;
  font-size: 1.2em;
}

/* author list */
.cards .page__meta-readtime {
  font-size: 1.1em;
}

.cards {
  display: block;
  top: 0px;
  position: relative;
  max-width: 362px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00838d;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
  }

  &:hover:before {
    transform: scale(2.15);
  }
}

/* Adjust font size on cards  */
.narrow {
  font-size: .8em!important;
}

/* Fix people page - allow for tall images */
.archive__item-teaser.tall {
  max-height: 320px!important;
}

h2.clearall {
  clear: both;
}


.notice figcaption, figcaption {
  font-family: $body-font;
}
.notice figcaption {

}
.notice {
  border-radius: 15px!important;
  box-shadow: 0 1px 1px rgba(189,193,196,0.25)!important;
  padding: 3em!important;

  p, li {
  font-size: 1.1em!important;
  }

  h2, h3 {
    margin-top:0!important;
  }

  figcaption {
    font-size: 1.3em;
  }
}

/* Fix buttons and text in notice boxes */
.notice figcaption {
  font-size: 1.2em;
}


.notice--info .btn.btn--info {
  color:#fff;
}

.notice--info .archive__item-excerpt {
  font-size: .95em;
}

.notice--info h2 {
  font-size: 1.5em;
}

.notice--info h3 a, .notice--info h2 a:visited {
  font-size: 1.5em;
  text-decoration: none;
  font-size: 1.0em;
}

.wide__p_text {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

/* TWITTER cards */
.twitter-tweet {
  border: 1px solid #ccc;
  border-radius: .5em;
  padding: 1.2em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #e2ecf3;
  font-weight: 600;
  font-style: normal;
  font-size: .9em;
  color: #555;
  filter: drop-shadow(5px 5px 4px #ccc);
}

/* Blog grid styles */

.blog__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 30px;
  margin-bottom: 20px;

  h3.card-title {
    font-size: 1.1em!important;
    text-align: left;
	  margin-top: 0;
	  vertical-align: middle;
  }

  .card__bkg {
    padding-top: 30px;

  }
  article {
	display: contents;
  }
  a {
	text-decoration: none;
  }
  p {
	font-size: 1.1em!important;
	font-weight: 400;
  }
}


/* search / filter*/

* { box-sizing: border-box; }

// body {
//   font-family: sans-serif;
// }

/* ---- input ---- */

input[type="text"] {
  font-size: 20px;
}

/* ---- isotope styles  ---- */
* { box-sizing: border-box; }

body {
  font-family: sans-serif;
}

/* ---- input ---- */

input[type="text"] {
  font-size: 20px;
}

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  margin-bottom: 10px;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28F;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

/* ---- grid ---- */


/* clear fix */
// .grid:after {
//   content: '';
//   display: block;
//   clear: both;
// }

/* ---- .element-item ---- */



.element-item {
  position: relative;
  float: left;
  //height: 400px;
  width: calc(30% - 13.3px);
  margin: 5px;
  padding: 10px;
}

.grid-sizer {
  width: 30%;
}
@media screen and (max-width:1199px) {
  .element-item {
   width:calc( 50% - 10px);
  }
 }

.element-item > * {
  margin: 0;
  padding: 0;
}

.element-item .name {
  position: absolute;

  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}

.element-item .symbol {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.element-item .number {
  position: absolute;
  right: 8px;
  top: 5px;
}

.element-item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}

.element-item.alkali          { background: #F00; background: hsl(   0, 100%, 50%); }
.element-item.alkaline-earth  { background: #F80; background: hsl(  36, 100%, 50%); }
.element-item.lanthanoid      { background: #FF0; background: hsl(  72, 100%, 50%); }
.element-item.actinoid        { background: #0F0; background: hsl( 108, 100%, 50%); }
.element-item.transition      { background: #0F8; background: hsl( 144, 100%, 50%); }
.element-item.post-transition { background: #0FF; background: hsl( 180, 100%, 50%); }
.element-item.metalloid       { background: #08F; background: hsl( 216, 100%, 50%); }
.element-item.diatomic        { background: #00F; background: hsl( 252, 100%, 50%); }
.element-item.halogen         { background: #F0F; background: hsl( 288, 100%, 50%); }
.element-item.noble-gas       { background: #F08; background: hsl( 324, 100%, 50%); }


@charset "utf-8";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
