---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// // VARIABLES

// $border-color: #ccc;
// $intro-transition: intro 0.3s both !default;
// $primary-color: #ccc;

// $global-transition: all 0.2s ease-in-out !default;

// /* system typefaces */
// $serif: Georgia, Times, serif !default;
// $sans-serif: 'Poppins', sans-serif;//"Open Sans", sans-serif; //-apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
//   //"Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
// $monospace: 'Poppins', sans-serif!default;//'Open Sans', sans-serif!default;

// /* sans serif typefaces */
// $sans-serif-narrow: $sans-serif !default;
// $header-font: 'Itim', cursive; //'Raleway', sans-serif;

// $global-font-family: $body-font !default;
// $header-font-family: $header-font !default;
// $caption-font-family: $serif !default;

// /* type scale */
// $type-size-1: 2.441em !default; // ~39.056px h1
// $type-size-2: 1.9em !default; // ~31.248px h2 ...
// $type-size-3: 1.563em !default; // ~25.008px h3
// $type-size-4: 1.85em !default; // ~20px
// $type-size-5: .9em !default; // ~16px body?
// $type-size-6: 0.75em !default; // ~12px
// $type-size-7: 0.6875em !default; // ~11px
// $type-size-8: 0.625em !default; // ~10px

// body {font-size:90%;}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6, .archive__item-title {
//   margin: 2em 0 0.5em;
//   line-height: 1.2;
//   font-family: $header-font-family;
// }

// h2 {
//   font-size: $type-size-2!important;
//   color: #314d68; //make this a header color
// }

// h3 {
//   font-size: $type-size-3!important;
// }

// .wide #main {
//   padding-left: 6em;
//   padding-right: 6em;
// }

// .archive__item-title {
//   font-family: $header-font-family!important;
//   font-size: .9em !important;
// }

// .page__content p, .page__content li {
//   font-size: $type-size-5!important;
// }


// /* search / filter*/

// * { box-sizing: border-box; }

// // body {
// //   font-family: sans-serif;
// // }

// /* ---- input ---- */

// input[type="text"] {
//   font-size: 20px;
// }


// @charset "utf-8";
// @import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
// @import "minimal-mistakes"; // main partials
