---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---


// VARIABLES

$border-color: #ccc;
$intro-transition: intro 0.3s both !default;
$primary-color: #ccc;
$nav-font-color: #535a60;
$nav-hover-color: #8d0065;
$global-transition: all 0.2s ease-in-out !default;

body {font-size:90%;}

/* system typefaces */
$serif: Georgia, Times, serif !default;
$sans-serif: "Open Sans", sans-serif; //-apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
  //"Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
$monospace: 'Open Sans', sans-serif!default;

/* sans serif typefaces */
$sans-serif-narrow: $sans-serif !default;
$header-font: 'Raleway', sans-serif; 
$body-font: 'Open Sans', sans-serif;

$global-font-family: $body-font !default;
$header-font-family: $header-font !default;
$caption-font-family: $serif !default;

/* type scale */
$type-size-1: 2.441em !default; // ~39.056px h1
$type-size-2: 1.9em !default; // ~31.248px h2 ...
$type-size-3: 1.563em !default; // ~25.008px h3
$type-size-4: 1.85em !default; // ~20px
$type-size-5: .9em !default; // ~16px body?
$type-size-6: 0.75em !default; // ~12px
$type-size-7: 0.6875em !default; // ~11px
$type-size-8: 0.625em !default; // ~10px


h1,
h2,
h3,
h4,
h5,
h6, .archive__item-title {
  margin: 2em 0 0.5em;
  line-height: 1.2;
  font-family: $header-font-family;
}

h2 {
  font-size: $type-size-2!important;
  color: #314d68; //make this a header color
}

h3 {
  font-size: $type-size-3!important;
}

.archive__item-title {
  font-family: $header-font-family!important;
  font-size: .9em !important;
}

.page__content p, .page__content li {
  font-size: $type-size-5!important;
}

// Sidebar author with circle font and header font adjustment
.sidebar .author__name {
  font-family: $header-font!important;
  font-size: .9em;
}

.page__lead {
  font-size: 1em!important;
}


/* styles for the people grid  */
.contrib_avatar {
  border-radius: 50%;
}

/* Create & style a 3x3 grid wrapper */
.grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);

  h4.grid_title {
    font-size: 1.4em;
    text-align: center;
  }
  .grid_title {
    margin-bottom: 0
  }

  h4.grid_title a {
    text-decoration: none;
  }
  .person__item {
    margin: 2.2em;
  }

  .page__meta.title {
    font-size: 1em!important;
    text-align: center;
    font-size: 1.7em;
    padding-top: 0;
    margin-top: 0;
  }
  .page__meta .bio p {
    font-size: .7em;
    line-height: .2em!important;
  }
}

div > div {
  padding: 10px;
}

.contrib_org {font-weight:normal;
  font-size:70%!important;
  margin-bottom: 0!important;
}

/* BEGIN Top nav drop down styles
nav bar: POSITION:relative to ensure it stays at the top */

/* replaces mm greedy_nav */
.nav__topbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 2em;
  background: #fff;
}

/* Center logo in div - TODO: adjust fonts (will do this at end) */
.site-subtitle {
  font-weight: 400;
  font-size: .8em!important;
  color: $nav-font-color;
}

.site-logo img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.nav__links {
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-left: auto!important;

  a {
    float: left;
    display: block;
    color: $nav-font-color!important;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: $global-transition;
  }

  a:hover {
    color: $nav-hover-color!important;
   }

  .icon {
    display: none;
  }
}

/* down arrow works better with ascii vs font awesome */
.downBtn {
  font-size: .8em;
}

/* Force button and a href fonts to be same size and style */
.dropdown .dropbtn, .nav__links a {
  font-size: 1em!important;
}

/* Make sure drop down horizontal doesn't push content down 
(put push it down in vertical mode */
.nav__links .dropdown .dropdown-content {
  position: absolute;
  max-width: 25%;
}

.nav__links.vertical .dropdown .dropdown-content {
  position: relative!important;
  width: 100%;
}

/* drop down should be the entire width of the ul block not just the
parent text width  */
.nav__links.vertical .dropdown-content {
  min-width: 100%;
}

// Upon click the menu should turn into a vertical stacked menu with a soft drop shadow
.nav__links.vertical {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 2em;
  top: 50%;
  left: 70%;
  background-color: #fff;
  z-index: 1;
  border: 1px solid #f2f3f3;
  border-radius: 4px;
  background: #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.nav__links.vertical li {
  width: 100%;
}
/*  End nav links bar styles */

/* Begin burger stylin */

.hamburger__btn-toggle {
  display: none;
  align-self: center;
  height: 2rem;
  border: 0;
  outline: none;
  -ms-flex-item-align: center;
  background-color: transparent;
  cursor: pointer;
}

/* Setup the background with the white width and height 100% of screen */
.hamburger__btn-toggle::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}

/* Turn on white background when clicked - x for close */
.hamburger__btn-toggle.close::before {
  opacity: 0.9;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  pointer-events: auto;
  z-index: -1!important;
}

/* Begin burger styling: actual hamburger element (the horiz lines)*/
 .burger__icon {
  /* //opacity: 0; */
  position: relative;
  width: 1.5rem;
  height: .25rem;
  background: #6f777d;
  margin: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Position the burger in it's x closed state - min mistakes didn't have to do this */
.close .burger__icon {
  position: absolute;
  top: auto;
  right: .1em;
}

/* Hide the middle bar when in "closed" style state so it's an x */
.close .burger__icon {
  background: transparent;
}

.burger__icon::before, .burger__icon::after {
	content: "";
	position: absolute;
	left: 0;
	width: 1.5rem;
	height: .25rem;
	background: #6f777d;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.burger__icon::after {
  bottom: -.5rem;
}
.burger__icon::before {
  top: -.5rem;
}

// This creates the x by rotating the burger bars
.close .burger__icon::after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}
.close .burger__icon::before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}

.close .burger__icon::before, .close .burger__icon::after {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  top: 0;
  width: 1.5rem;
}

/* End burger styling */

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  width: 1px !important;
  border: 0 !important;
  overflow: hidden;
}

/*  end ham */


/* Dropdown container for nav links */
.dropdown {
  float: left;
  overflow: hidden;

  .dropbtn {
    border: none;
    outline: none;
    color: $nav-font-color;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
}


/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  // opacity: 0; /* here */
  // position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%; 
  transition: all 0.25s ease-in; 
  transform: translateY(-10px);
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  // color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #fff;
  color: $nav-hover-color;
}

/* Show the dropdown menu when the user hovers over the dropdown 
button. What's most accessible, click only or click and hover both?
Right now hover is removed
*/
/* .dropdown:hover .dropdown-content,  */
.dropdown .dropdown-content.open {
  display: block;
/* transform: translateY(0); 
   opacity: 1;  */ 
}


/* This style may be removed ultimately - it is the fancy underline */

.hover-underline {
  display: inline-block;
  position: relative;
  color: #0087ca;
}
/* Make sure the line is 100% of text */
.hover-underline {
  width: 100%;
  text-align: left !important;
}

.hover-underline:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $primary-color;
  -webkit-transition: $global-transition;
  transition: $global-transition;
  -webkit-transform: scaleX(0) translate3d(0, 0, 0);
  transform: scaleX(0) translate3d(0, 0, 0); // hide
}

.hover-underline:hover:after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1); // reveal
}


/* Add an active class to highlight the current page - might want to reinstate this */
.active {
  background-color: #04AA6D;
  color: white;
}



/* When the screen is less than 600 pixels wide, hide all links, except for the 
first one ("Home"). Show the link that contains should open and close the nav__links (.icon) */


@media screen and (max-width: 600px) {

  .grid {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(1, 1fr);
  }
}


/* 768 px */
@media screen and (max-width: 768px) {

  .grid {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(2, 1fr);
  }

  .hamburger__btn-toggle {
    //position: fixed; // not sure if this will help?
    display: block;
    position: fixed;
    top: 5%;
    right: 5%;}

  burger__icon, burger__icon::before, burger__icon::after {
    display: block;
    
  }

  /* Hide horizontal drop down links at 48em / 768px */
  .nav__links {
    display: none;
  }
  .nav__links {
    a:not(:first-child), li, .dropdown .dropbtn {
    
    }

    a.icon {
      float: right;
      display: block;
      font-size: 2em;
      padding-right: 1em;
      padding-top: 0;
    }
  }

/* Nav links goes vertical in responsive mode */
  .nav__links .vertical {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 2em;
    top: 50%;
    left: 70%;
    background-color: #fff;

    a.icon {
      font-size: 2em; 
      position: absolute;
      right: 0; 
      top: 0;
      padding-right: 1em;
    }
    a {
      float: none;
      display: block; 
      text-align: left;
    }
    .dropdown {
      float: none;
    }

    .dropdown-content {position: relative;}

    .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }
} 


/* End media query 48em / 768 px */

/* package cards splash */

.cards {

  p {
    font-size: .9em
  }
  
  h2 a {
    text-decoration: none;
    font-size: 1.2em;
  }

  // h3 {
  //   font-size: 1.3em;
  // }

  h3.card__title.no_toc {
    margin-top: .3em;
    font-size: 1.5em;
  }

  .page__meta.contributors {
    font-size: .7em;
  }

  ul {
    font-size: .8em;
    list-style-type: none;
    margin-left: 0;
    padding: .2em;
  }

  ul a {
    text-decoration: none;
  }
}

.grid__wrapper {
  display: flex;
}


.cards h2 a {
  text-decoration: none;
  font-size: 1.2em;
}

/* author list */
.cards .page__meta-readtime {
  font-size: 1.1em;
}

.cards {
  display: block;
  top: 0px;
  position: relative;
  max-width: 362px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00838d;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
  }

  &:hover:before {
    transform: scale(2.15);
  }
}

/* Adjust font size on cards  */
.narrow {
  font-size: .92em!important;
}

/* Fix people page - allow for tall images */
.archive__item-teaser.tall {
  max-height: 320px!important;
}

h2.clearall {
  clear: both;
}

/* Fix buttons and text in notice boxes */
.notice--info .btn.btn--info {
  color:#fff;
}

.notice--info .archive__item-excerpt {
  font-size: .95em;
}

.notice--info h2 {
  font-size: 1.5em;
}

.notice--info h3 a, .notice--info h2 a:visited {
  font-size: 1.5em;
  text-decoration: none;
  font-size: 1.0em;
}

.wide__p_text{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

/* TWITTER cards */

.twitter-tweet {
  border: 1px solid #ccc;
  border-radius: .5em;
  padding: 1.2em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #e2ecf3;
  font-weight: 600;
  font-style: normal;
  font-size: .9em;
  color: #555;
  filter: drop-shadow(5px 5px 4px #ccc);
}


@charset "utf-8";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
