---
layout: archive
---

{{ content }}

<ul class="taxonomy__index">
  {% assign postsInYear = site.posts
    | where_exp: "item", "item.hidden != true"
    | where_exp: "item", "item.categories contains 'blog-post'"
    | group_by_exp: 'post', 'post.date
    | date: "%Y"' %}
  {% for year in postsInYear %}
    <li>
      <a href="#{{ year.name }}">
        <strong>{{ year.name }}</strong> <span class="taxonomy__count">{{ year.items | size }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

{% assign color_counter = 0 %} <!-- Initialize the counter once, outside the loop -->
{% assign color_max = 4 %} <!-- Set the max number of colors -->


{% assign entries_layout = page.entries_layout | default: 'list' %}
{% assign postsByYear = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y"' %}
{% for year in postsByYear %}
  <section id="{{ year.name }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ year.name }}</h2>
    <div class="blog__grid">
      {% for post in year.items %}
      {% unless post.header.overlay_image %}
        {% assign color_counter = color_counter | plus: 1 %}
        {% if color_counter == color_max %}
        <!-- Reset the counter -->
          {% assign color_counter = 0 %}
        {% endif %}
      {% endunless %}
        {% include archive-cards.html color_counter=color_counter %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}
