---
layout: archive
---


{{ content }}


<h2>Upcoming events</h2>

{% assign all_events = site.posts
  | where_exp: "item", "item.hidden != true"
  | where_exp: "item", "item.categories contains 'events'"
  | sort: "event.start_date"
%}

{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
{% assign has_upcoming_events = false %}
{% for post in all_events %}

  {% assign start_date = post.event.start_date | date: "%Y-%m-%d" %}
  {% capture posttime %}{{ start_date | date: '%s'}}{% endcapture %}

  {% if posttime > nowunix %}
  {% assign has_upcoming_events = true %}
  <div class="upcoming">
    {% include event-cards.html %}
  </div>
  {% endif %}

{% endfor %}


{% if has_upcoming_events == false %}
<p>pyOpenSci doesn't have any events coming up right now. However, check back
  to see what we are planning! </p>
{% endif %}

<h2>Past events</h2>

<ul class="taxonomy__index">
  {% assign eventsInYear = site.posts
    | where_exp: "item", "item.hidden != true"
    | where_exp: "item", "item.categories contains 'events'"
    | group_by_exp: 'post', 'post.event.start_date | date: "%Y"'
  %}
  {% for year in eventsInYear %}

    <li>
      <a href="#{{ year.name }}">
         <strong>{{ year.name }}</strong> <!--<span class="taxonomy__count">{{ year.items | size }}</span> -->
      </a>
    </li>
  {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% assign eventsByYear = site.posts
  | where_exp: "item", "item.hidden != true"
  | where_exp: "item", "item.categories contains 'events'"
  | group_by_exp: 'post', 'post.event.start_date | date: "%Y"'
%}

{% for year in eventsByYear %}
  <section id="{{ year.name }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ year.name }}</h2>
    <div class="event__grid">
      {% for post in year.items %}
      {% capture posttime %}{{ post.event.start_date | date: '%s'}}{% endcapture %}
        {% if posttime < nowunix %}
          {% include event-cards.html %}
        {% endif %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}
