/* ==========================================================================
   BASE ELEMENTS
   ========================================================================== */

   html {
    /* Sticky footer fix */
    position: relative;
    min-height: 100%;
  }

  body {
    margin: 0;
    padding: 0;
    color: $text-color;
    font-family: $global-font-family;
    line-height: 1.6;
    font-weight: $weight-3;
    font-size: 1em;

    &.overflow--hidden {
      /* When primary navigation is visible, the content in the background won't scroll */
      overflow: hidden;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 3.5rem 0 1rem 0;
    line-height: 1.2;
    color: #542668;
    text-wrap: pretty;
  }

  /* All fonts h2 and lower are Poppins */
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $header-font-family;
    letter-spacing: -0.03em;
  }

  h1 {
    margin-top: 0;
    font-size: $h-size-1;
    font-weight: 200 !important;
    font-family: $header-font-family;
  }

  h2 {
    font-size: $h-size-2;
    padding-bottom: 0.2em;
    margin-bottom: 1rem;
    margin-top: 3rem;
    font-weight: $semibold-weight; // 600
    line-height: 1.1;
  }

  h3 {
    font-size: $h-size-3;
    font-weight: $semibold-weight;
    line-height: 1.1em;
    margin-top: 2.7em;
  }

  h4 {
    font-size: $h-size-4;
    font-weight: $semibold-weight;
  }

  h5 {
    font-size: $h-size-5;
    font-weight: $semibold-weight;
  }

  h6 {
    font-size: $h-size-6;
  }

  small,
  .small {
    font-size: $type-size-6;
  }

  p {
    margin-bottom: 1.3em;
  }

  u,
  ins {
    text-decoration: none;
    border-bottom: 1px solid $text-color;

    a {
      color: inherit;
    }
  }

  del a {
    color: inherit;
  }

  /* Reduce orphans and widows when printing */
  p,
  pre,
  blockquote,
  ul,
  ol,
  dl,
  figure,
  table,
  fieldset {
    orphans: 3;
    widows: 3;
  }

  /* Abbreviations */
  abbr[title],
  abbr[data-original-title] {
    text-decoration: none;
    cursor: help;
    border-bottom: 1px dotted $text-color;
  }

  /* Blockquotes */
  blockquote {
    margin: 2em 1em 2em 0;
    padding-left: 1em;
    padding-right: 1em;
    font-style: italic;
    border-left: 0.25em solid $primary-color;

    cite {
      font-style: italic;

      &:before {
        content: "\2014";
        padding-right: 5px;
      }
    }
  }

  /* Blockquote styling */
  %quote-style {
    font-weight: bold;
    font-size: 100px;
    color: $pyos-teal;
    line-height: 0;
  }

  blockquote.highlight-quote {
    border: none;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-top: 6rem;
    margin-bottom: 4rem;
    padding: 0 2rem;
    max-width: $medium;

    footer {
      font-style: italic;
      font-weight: 500;
      text-align: right;
    }

    &:after {
      @extend %quote-style;
      position: absolute;
      content: close-quote;
      right: 10rem; // To ensure the right quote is within the margin
      margin-top: 2rem;
    }

    & > div.end {
      position: relative;
    }

    & > div.end:after {
      @extend %quote-style;
      content: close-quote;
      position: absolute;
      right: 0;
      margin-top: 2.8rem;
    }

    p {
      font-size: 1.3rem;
      position: relative;
      margin-bottom: 0.63rem;

      &:before {
        @extend %quote-style;
        position: absolute;
        content: open-quote;
        left: 0;
        top: -20px;
      }
    }
  }

  /* Blockquote color variants */
  blockquote.highlight-quote.magenta:after,
  blockquote.highlight-quote.magenta p:before,
  blockquote.highlight-quote.magenta p:after {
    color: $pyos-magenta;
  }

  blockquote.highlight-quote.purple:after,
  blockquote.highlight-quote.purple p:before,
  blockquote.highlight-quote.purple p:after {
    color: $pyos-mediumpurple;
  }

  /* Breakpoint adjustment for smaller screens */
  @include breakpoint('max-width: #$mobile') {
    padding: 0;
  }

  /* Links */
  a {
    text-underline-offset: 0.1em;
    text-decoration-color: rgba($text-color, 0.7);
    text-decoration: underline;

    &:focus {
      @extend %tab-focus;
    }

    &:visited {
      color: $link-color-visited;
    }

    &:hover {
      color: $link-color-hover;
      outline: 0;
      text-decoration: none !important;
      transition: color 0.3s ease, text-decoration-color 0.3s ease;
    }
  }

  /* Buttons */
  button:focus {
    @extend %tab-focus;
  }

  /* Code */
  tt,
  code,
  kbd,
  samp,
  pre {
    font-family: $monospace;
    font-weight: $weight-5;
    font-size: 1em;
  }

  kbd {
    background-color: $kbd-color-background;
    color: $kbd-color-text;
    border-radius: 0.25rem;
    box-shadow: 0 2px 0 1px $kbd-color-border;
    line-height: 1;
    font-size: 0.75em;
    padding: 0.15em 0.25em;

    &:hover {
      box-shadow: 0 1px 0 0.5px $kbd-color-border;
      top: 1px;
    }
  }

  pre {
    overflow-x: auto; /* Add scrollbars to wide code blocks */
  }

  /* Horizontal rule */
  hr {
    display: block;
    margin: 1em 0;
    border: 0;
    border-top: 1px solid $border-color;
  }

  /* Lists */
  ul,
  ol {
    margin-bottom: 1.9em;
    font-weight: $weight-3;
  }

  ul li,
  ol li {
    margin-bottom: 0.5em;
    font-size: $type-size-5;
    list-style: 1.4em;
  }

  ul li::marker {
    color: #9C939F; /* Change bullet color */
  }

  li ul,
  li ol {
    margin-top: 0.5em;
  }

  /* Figures and images */
  figure {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 2em 0;

    img,
    iframe,
    .fluid-width-video-wrapper {
      margin-bottom: 1em;
    }

    img {
      width: 100%;
      border-radius: $border-radius;
      transition: $global-transition;
    }

    > a {
      display: block;
    }
  }

  /* Figure captions */
  figcaption {
    margin-bottom: 0.5em;
    color: $muted-text-color;
    font-family: $caption-font-family;
    font-size: $type-size-6;
  }

  /* Fix IE9 SVG bug */
  svg:not(:root) {
    overflow: hidden;
  }
