/* ==========================================================================
   FOOTER
   ========================================================================== */

.page__footer {
  @include clearfix;
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  margin-top: 3em;
  color: rgba($pyos-white, 0.9);
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
  background-color: darken($pyos-deeppurple, 8%);
  font-size: 0.85rem;
  line-height: 1.3rem;

  footer {
    @include clearfix;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    max-width: 100%;
    padding: 0 1em 2em;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }
  }

  a {
    color: rgba($pyos-white, 0.9);
    text-decoration: none;

    &:hover {
      color: $pyos-white;
      text-decoration: underline;
    }
  }

  .fas,
  .fab,
  .far,
  .fal {
    color: rgba($pyos-white, 0.9);
  }
}

.page__footer-copyright {
  font-family: $global-font-family;
  font-size: $type-size-6;

  p {
    margin: 0
  }
}

.page__footer-follow {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: $sans-serif-narrow;
    font-size: $type-size-5;
    text-transform: uppercase;
  }

  li + li:before {
    content: "";
    padding-right: 5px;
  }

  a {
    padding-right: 10px;
    font-weight: bold;
  }
}

// Footer social icons - consolidated styles with higher specificity
.page__footer .page__footer-follow .social-icons,
.page__footer-follow .social-icons {
  a {
    white-space: nowrap;
    color: rgba($pyos-white, 0.9);
    text-decoration: none;

    &:hover {
      color: $pyos-white;
      text-decoration: underline;
    }
  }

  i,
  .fas,
  .fab,
  .far,
  .fal {
    font-size: 0.75em;
    margin-right: 0.3em;
    color: rgba($pyos-white, 0.85);
  }

  // Override all brand colors to be white - higher specificity without !important
  .fa-github,
  .fa-github-alt,
  .fa-github-square,
  .fa-gitlab,
  .fa-linkedin,
  .fa-linkedin-in,
  .fa-mastodon,
  .fa-mastodon-square,
  .fa-reddit,
  .fa-rss,
  .fa-rss-square,
  .fa-stack-exchange,
  .fa-stack-overflow,
  .fa-youtube {
    color: rgba($pyos-white, 0.85);
  }
}
