/*
==========================================================================
MASTHEAD

Layout of the top-level items within the masthead.
For styling of menu contents, see _pyos-dropdown.scss
==========================================================================
*/

.masthead {
  position: relative;
  border-bottom: 1px solid $border-color;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
  z-index: 20;


  &__menu {
    @include clearfix;
    margin: auto;
    padding: 0 1em;
    max-width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    font-family: $sans-serif-narrow;
    position: relative;
    align-items: stretch;
    min-height: 2em;
    background: #fff;

    & > * {
      margin: auto;
    }

    a {
      text-decoration: none;
    }

    @include breakpoint($x-large) {
      max-width: $max-width;
    }

    .spacer {
      flex-grow: 1;
    }
  }
}

.site-logo {
  height: auto;
  width: auto;
  top: 0;
  left: 0;
  position: relative;
  background-color: transparent;
  border: none;
  box-shadow: none;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0;

  &::after {
    display: none;
  }

  img {
    object-fit: contain;
    height: 2.5em;
    width: auto;
    margin: 0;
    display: block;
    box-shadow: none;
    align-self: center;
  }
}

.site-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  font-weight: bold;
}

.site-subtitle {
  display: block;
  font-weight: 400;
  font-size: .8em;
  color: $nav-font-color;
}
