/* ==========================================================================
   NOTICE TEXT BLOCKS
   ========================================================================== */

/**
 *  Default Kramdown usage (no indents!):
 *  <div class="notice" markdown="1">
 *  #### Headline for the Notice
 *  Text for the notice
 *  </div>
 */

@mixin notice($notice-color) {
  margin: 2em 0 !important;  /* override*/
  padding: 1em;
  color: $text-color;
  font-family: $global-font-family;
  font-size: $type-size-6 !important;
  text-indent: initial; /* override*/
  background-color: mix($background-color, $notice-color, $notice-background-mix);
  border-radius: $border-radius;
  box-shadow: 0 1px 1px rgba($notice-color, 0.25);

  h4 {
    margin-top: 0 !important; /* override*/
    margin-bottom: 0.75em;
    line-height: inherit;
  }

  @at-root .page__content #{&} h4 {
    /* using at-root to override .page-content h4 font size*/
    margin-bottom: 0;
    font-size: 1em;
  }

  p {
    &:last-child {
      margin-bottom: 0 !important; /* override*/
    }
  }

  h4 + p {
    /* remove space above paragraphs that appear directly after notice headline*/
    margin-top: 0;
    padding-top: 0;
  }

  a {
    color: mix(#000, $notice-color, 10%);

    &:hover {
      color: mix(#000, $notice-color, 50%);
    }
  }

  @at-root #{selector-unify(&, "blockquote")} {
    border-left-color: mix(#000, $notice-color, 10%);
  }

  code {
    background-color: mix($background-color, $notice-color, $code-notice-background-mix)
  }

	pre code {
		background-color: inherit;
	}

  ul {
    &:last-child {
      margin-bottom: 0; /* override*/
    }
  }
  @include breakpoint-max-width($mobile) {
    padding: 0.5em;
  }
}

/* Default notice */

.notice {
  @include notice($light-gray);
}

/* Primary notice */

.notice--primary {
  @include notice($primary-color);
}

/* Info notice */

.notice--info {
  @include notice($info-color);
}

/* Warning notice */

.notice--warning {
  @include notice($warning-color);
}

/* Success notice */

.notice--success {
  @include notice($success-color);
}

/* Danger notice */

.notice--danger {
  @include notice($danger-color);
}

.notice-highlight {
  background-color: $background-block;
  padding: 1em;

  h2 {
    margin-top: 1em;
  }
}

/* Quotes in notice blocks */

.notice blockquote {
  font-size: 1.5em;
  margin: 7em 2em;
  max-width: 100%;

  &.highlight-quote {
    margin: 7em .5em;
    padding: 0;
    max-width: $medium;

    p {
      margin-bottom: 1rem;
    }
    &::after {
      margin: 2rem;
    }

    footer {
      text-align: right;
    }
  }
}

/* Notice elements with figures */
.notice {
  border-radius: 15px !important;
  box-shadow: 0 1px 1px rgba(189, 193, 196, 0.25) !important;
  padding: 3em;

  p, li {
    font-size: 1.1em !important;
  }

  h2, h3 {
    margin-top: 0 !important;
  }

  figcaption {
    font-family: $body-font;
    font-size: 1.2em; // This will override the previous 1.3em
  }

  &--info {
    .btn.btn--info {
      color: #fff;
    }

    .archive__item-excerpt {
      font-size: 0.95em;
    }

    h2 {
      font-size: 1.5em;
    }

    h3 a,
    h2 a:visited {
      font-size: 1.5em;
      text-decoration: none;
    }
  }
}
/* max 480 px */
@media screen and (max-width: 480px) {
  .notice {
    padding: .5em;
  }

  blockquote.highlight-quote>div.end:after {
    margin-top: 3rem;
  }
}
