// Create colormap for cards
$colors: (
  color-0: #bb82b0,
  color-1: #6b5b95,
  color-2: #bab3d4,
  color-3: #81c0aa
);

@mixin generate-color-styles($color-map) {
  @each $name, $color in $color-map {
    .card__header-#{$name} {
      background-color: $color;

      &::before {
        background: rgba(0, 0, 0, 0.4)!important;
      }
    }
    .cards:hover .card__header-#{$name} {
      background-color: lighten($color, 15%) !important; // Lighten the color by 40%
    }
  }
}



// Include the mixin
//@include generate-color-styles($colors);


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Create & style a 3x3 grid wrapper */
/* Adjust grid side for the flowing layout */
.flowing .grid {
  grid-template-columns: repeat(auto-fit, minmax(calc($small/3), 1fr));
 }

.grid {
    display: grid;
    // minmax can be used to modify width
    grid-template-columns: repeat(auto-fit, minmax(calc($small/2), 1fr));
    grid-gap: 10px;

    h4.grid_title {
      font-size: 1.6em;
      margin-top: 1em;
    }
    .grid_title {
      margin-bottom: 0;
    }

    h4.grid_title a, h3 a {
      text-decoration: none;
    }

    .page__meta.title {
      font-size: 1em !important;
      text-align: center;
      font-size: 1.7em;
      padding-top: 0;
      margin-top: 0;
    }
    .page__meta .bio p {
      font-size: 0.7em;
      line-height: 0.2em !important;
    }
  }

.grid-item {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

/* Blog grid styles */
.blog__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  grid-column-gap: 7px;
  grid-row-gap: 30px;
  margin-bottom: 20px;

  h3.card-title {
    font-size: 1.3em!important;
    text-align: left;
	  margin-top: 0;
	  vertical-align: middle;
    padding: 0 .4em;

  }

  .card-excerpt p {
    font-size: 1.1em;
  }

  .card__bkg {
    padding-top: 30px;

  }
  article {
	display: contents;
  }

  a {
	text-decoration: none;
  }

  p {
	font-size: 1em;
	font-weight: 400;
  }
}



.bubble:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: -16px;
        right: -16px;
        background: #967eb6;
        height: 32px;
        width: 32px;
        border-radius: 32px;
        transform: scale(2);
        transform-origin: 50% 50%;
        transition: transform 0.15s ease-out;
    }

// Cards are also used to style the isotope layout
// do not adjust the display or structure of the cards element.
/* Package cards splash */
.cards {
  top: 0px;
  position: relative;
  background-color: #fcfbf5;
  border-radius: 4px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #ccc;
  font-size: .8em;

  @include breakpoint-max-width(480px) {
    padding: 2em;
  }

  &__image {
    max-height: calc($small / 3);
    overflow: hidden;
    border-radius: 10px;
  }

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
    cursor: pointer;
  }

  &:hover:before {
    transform: scale(2.15);
  }

  p {
    font-size: 1em;
    line-height: 1.8;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem!important;

    a {
      text-decoration: none;
      font-size: 1.2em;
    }

    &.archive__item-title {
      font-size: 1.1em !important;
    }
  }

  h3.card__title.no_toc,
  .card__title.no_toc {
    margin-top: 1.2em;
    font-size: 1.9em;
    color: $pyos-darkpurple;
  }

  .page__meta.contributors {
    font-size: .9em;
  }

  .contributors a {
    text-decoration: none;
  }

  ul {
    font-size: .8em;
    list-style-type: none;
    margin-left: 0;
    padding: .2em;
  }

  ul a {
    text-decoration: none;
    font-size: 1.2em
  }
}

.grid h3.card-title a {
  margin-top: .3em;
  font-size: 1.3em;
  color: $pyos-darkpurple;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: none;
}

.feature__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
  box-sizing: border-box;

  .grid-item {
    display: flex;
    flex-direction: column;
    background: $pyos-mediumpurple;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    padding: 0;
  }


  div>div {
    padding:0;
  }
}

// Highlight is used for the home page highlight feature cards
.cards.highlight {
  display: flex;
  flex-direction: column;
  height: 100%;

  .cards__image {
    max-height: 200px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &:before {
    background-color: #fff;
  }

  &:hover {
    cursor: default;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 15px;

    h2.card-title {
      margin:0;
    }

    .card-content {
      flex-grow: 1;
    }

    .card-footer {
      padding: 15px;
      text-align: center;

      a.btn {
        margin-top: auto
      }
    }

    /* Ensure content is spaced properly and button stays at the bottom */
    > div {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: space-between; /* Distribute content vertically */
    }

    /* Style for the p containing the button */
    p {
      font-size: 1.2em;
      margin-bottom: 0.5em;
    }

    /* Ensure the button is pushed to the bottom */
    p a.btn {
      margin-top: auto; /* This ensures the button stays at the bottom */
      border: 1px solid yellow;
      align-self: flex-start; /* Optional, to align the button to the left */
    }
  }
}
/* Blog & event grid styles*/

// Because notice text is smaller, rescale card for that specific case.
.notice .blog__grid {
  font-size: 1.1rem;
}

.blog__grid .cards {
    padding: 0 0 1.5rem 0 !important;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: scale(1.05); // Slightly enlarge the card
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4); // Enhanced shadow on hover
    }

    .card__header {
      position: relative;
      background-size: cover;
      background-position: center;
      overflow: hidden;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.6); // Initial overlay color (faded)
        transition: background 0.3s ease; // Smooth transition effect
      }
    }
    // Changed hover selector to target .cards instead of .card__header
    &:hover .card__header::before {
          background: rgba(0, 0, 0, 0.2); // Darker overlay on hover

        }

    .card__title-container {
      min-height: 6rem;
      display: flex;
      align-items: center; /* Vertically center the title */
      padding: 0 15px;
    }

    .card-excerpt{
      font-size: .8em;
      padding: 0 1.3em;

      & p {
        margin-top: 0;
      }
    }
}

  .grid__wrapper {
    display: flex;
  }

  .cards h2 a {
    text-decoration: none;
    font-size: 1.2em;
  }

/* author list */

.cards .page__meta-readtime {
    font-size: 1.1em;
}


/* Adjust font size on cards  */
.narrow {
    font-size: .8em!important;
  }

/* This creates a grid where each box is the same height */
.grid-highlight {
    display: grid;
    // Essentially switch the default axis
    grid-auto-flow: column;

    a {
        text-decoration: none;
    }

    // Ensure content elements fill up the .column
    .element {
      height: 100%;
    }

    &.col-3 {
      grid-gap: 1rem;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-flow: unset;
    }
  }
