
/* ---- isotope styles  ---- */
* { box-sizing: border-box; }

// body {
//   font-family: $body-font!important;
// }

/* ---- input ---- */

input[type="text"] {
  font-size: 20px;
}



/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  margin-bottom: 10px;
  background: #EEE;
  border: none;
  border-radius: 7px;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  box-shadow: rgba(27, 31, 35, 0.04) 0 10px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  //background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
  font-family: $body-font;
}

.button:hover {
  background-color: #CCC7D6;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #5b2773;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

/* ---- grid ---- */


/* Layout */
.grid-sizer {
  width: 22%;
}


/* ---- .element-item ---- */

.grid .element-item {
  width: auto;
}

.element-item {
  position: relative;
  float: left;
  //height: 400px;
  width: calc(23% - 13.3px);
  margin: 5px;
  padding: 10px;
}

@media screen and (max-width:1199px) {
  .element-item {
   width:calc(30% - 10px);
  }
 }

.element-item > * {
  margin: 0;
  padding: 0;
}
