.pyos-section {
    padding: 0px;
    margin-top: 0; // Remove default top margin

    // Reduce top margin when following feature wrapper
    .feature__wrapper + & {
        margin-top: 0;
    }

    &.purple {
        background-color: #e2dfed; //d9d5e8; #cbc6e0;
        position: relative;
    }
}

.swoosh {
    position:relative;
}
.swoosh.bottom {
    margin-top:10em;
}
svg.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}


.flowing div#main {
    max-width: 100%;
    margin-right: 0!important;
    margin-left: 0!important;
    padding-left: 0!important;
    padding-right: 0!important;
}

.content {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;

    &.noimage {
        max-width: 900px;
    }
}

.content.padding {
    max-width: 900px;
    margin: auto;
}

// Add padding to non feature wrapper sections
.feature__wrapper.padded {
    padding: 0 30px;
}

.page__content .feature__wrapper.padded {
    & p {
    max-width: fit-content;
    }
    & h2 {
        font-size: 2rem;
    }
}


// Adjust padding for mobile
@media (max-width: 480px) {
    .feature__wrapper.padded {
        padding: 0;
    }

}
