.tutorial {
    font-size: 1em;

    & p.page__meta {
        padding-top: 1.3em;
    }
}

.card .page__meta {
    font-size:5em!important;
}

.tutorial__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); // Adjust the minmax values as needed
    grid-gap: 20px;

    // Ensure all cards have the height of the tallest card
    align-items: stretch;

    & a.btn.btn--success.btn--large {
        background-color: $pyos-darkpurple!important;
        color: $pyos-lightpurple!important;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-bottom: 0!important;
        font-size: 1.03em;

    }

    & .fa-solid .fa-magnifying-glass{
        color: #81c0aa;
    }

    .card {
        font-size: .8em;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        .excerpt {
            font-size: 1em;
            padding: 1em;
        }
        h4.title {
            color: $pyos-darkpurple!important;
            font-size: 1.3em;
            margin: 0;
            font-family: $sans-serif;
            font-weight: 500;
        }
        .title-block {
            background-color: $pyos-lightpurple;
            display: flex;
            height: 7em;
            padding: 1.2em;
            border-bottom: $pyos-darkpurple 1.3px solid;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        img {
            width: 100%;
            height: auto;
        }

        .content {
            flex: 1;
        }
        ul li {
            font-size: .9em;
            margin: 0 0 .5em 0;
        }
        ul {
            padding-right: .05em;
            padding-bottom: .2em;
        }
    }

}


.btn--success{
    color: #000!important;
}


.subsection {
    padding: 0 2em;

    h3 {
        padding-left: 0.5em;
    }
}


// events
.upcoming-event {
    background-color: $pyos-lightpurple;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: .1em 2em 2em 2em;
    width: 100%;

    &:hover {
        background-color: darken-color($pyos-lightpurple, 10%);
      }
    &.btn {
        width: 40%;
    }
}
