img {
  border-radius: 10px;
  -webkit-border-radius: 10px; /* Safari/Chrome */
  -moz-border-radius: 10px; /* Firefox */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Safari/Chrome */
  -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Firefox */
}

// Grid customized styles

// .flowing .archive__item-excerpt, .archive__item-excerpt {
//   /*font-size: .75em!important; */
// }

/* styles for the people grid  */
.contrib_avatar {
  border-radius: 50%;
}

.ppl_img {
  padding-left: 2em;
  padding-right: 2em;
}

.ppl_social a {
  margin-right: 10px;
  text-decoration: none !important;
}

.grid.people {
  grid-gap: 60px;
}
.person__item {
  //margin: 2.2em;
  text-align: center;
}

h4.person_name {
    margin-top: 0.6em;
    margin-bottom: 0;
    font-size: 1.3em;
  a {
    text-decoration: none;
  }
}

.person_img {
  -webkit-filter: drop-shadow(3px 3px 3px #999);
  filter: drop-shadow(3px 3px 3px #999);
}

.person_img img {
  width: 100%;
}

div > div {
  padding: 10px;
}

.contrib_org {font-weight:normal;
  font-size:70%!important;
  margin-bottom: 0!important;
}


/* Fix people page - allow for tall images */
.archive__item-teaser.tall {
  max-height: 320px!important;
}

h2.clearall {
  clear: both;
}


.notice figcaption, figcaption {
  font-family: $body-font;
}
.notice figcaption {

}
.notice {
  border-radius: 15px!important;
  box-shadow: 0 1px 1px rgba(189,193,196,0.25)!important;
  padding: 3em!important;

  p, li {
  font-size: 1.1em!important;
  }

  h2, h3 {
    margin-top:0!important;
  }

  figcaption {
    font-size: 1.3em;
  }
}

/* Fix buttons and text in notice boxes */
.notice figcaption {
  font-size: 1.2em;
}



/* Sidebar author with circle font and header font adjustment */
.sidebar .author__name {
  font-family: $header-font!important;
  font-size: .9em;
}


// /* */

.wide .archive {
  width: calc(100% - 100px);
}

.notice--info .btn.btn--info {
  color:#fff;
}

.notice--info .archive__item-excerpt {
  font-size: .95em;
}

.notice--info h2 {
  font-size: 1.5em;
}

.notice--info h3 a, .notice--info h2 a:visited {
  font-size: 1.5em;
  text-decoration: none;
  font-size: 1.0em;
}

.wide__p_text {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

@media screen and (max-width: 768px) {

  .element-item {
    width:calc(90% - 10px)!important;
   }

  .narrow p {
    font-size: 0.9em!important;
  }
  .narrow {
    font-size: 0.9em!important;
  }

  .page__meta.contributors {
    font-size: .9em !important;
  }

  h2.archive__item-title, h3.archive__item-title {
    font-size: 1.3em!important;
  }

  .page__content, .archive__item {
    font-size: 1em
  }

  .feature__item--center .archive__item-body, .archive__item-body {
    width: 100%!important;
    padding: 0!important;
  }

  .wide #main {
    padding-left: 2em;
  }
  .feature__item {
    width: 95%!important;
  }
  .cards {
    margin-right: auto!important;
    margin-left: auto!important;
  }

  .wide__p_text {
    max-width: 90%!important;
  }
  ol {
    font-size: 1em;

  }
}

/* End media query 48em / 768 px */


/* max 480 px */
@media screen and (max-width: 480px) {

  .archive__item {
    padding: 0!important;

    & .archive__item-excerpt {
      font-size: .8em!important;
      padding: 0!important;
    }
  }


  .taxonomy__index {
    font-size: .9em!important;
  }

  .back-to-top {
    font-size: 1.2em!important;
  }
  .blog__grid {
    font-size: 1.3em;
    grid-template-columns: repeat(auto-fill, minmax(320px, 0fr))!important;
    grid-auto-rows: 0fr!important;
    grid-column-gap: 7px;
    grid-row-gap: 0px!important;
    margin-bottom: 20px;

    & a {
      font-size: 1.3em;

    }
  }

  .card-body {
    padding: 0!important;
  }
  .card-title {
    margin-top: 1em!important;
  }

  .grid {
    font-size: 1.2em;

    &.element-item {
      padding:0;
    }
  }

  .grid-isotope {
    font-size: 1.3em;
  }

  .cards {
    padding: 10px!important;


  }

  .contrib_org, .ppl_social {
    font-size: .9em !important;
  }

  .card-body {

    & .btn {
      font-size: 1em;
    }

    & .archive__item-excerpt {
      font-size: 1em;
    }

  }

  .feature__item--center {
    font-size: 1.1em;

    & .archive__item {
      padding:0;
      line-height: 1.3em;
    }

    & .archive__item-excerpt {
      padding:0;
      font-size: .8em;

    }
  }
  .feature__item {
    width: 100%!important;
  }

  h1, h2, h3, .archive__item-title {
    font-size: 1.6em!important;
  }
  .btn--large {
    font-size: 1.3em!important;
  }

  .wide #main {
    padding-left: 1em;
    padding-right: 1em;
  }

  .wide__p_text {
    max-width: 90%!important;
    padding-left: 1em;
  }

  ol {
    padding-left: 1em;
  }
}
