
/* TWITTER cards */
.twitter-tweet {
  border: 1px solid #ccc;
  border-radius: .5em;
  padding: 1.2em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #e2ecf3;
  font-weight: 300;
  font-style: normal;
  font-size: .85em;
  color: #555;
  filter: drop-shadow(5px 5px 4px #ccc);
}
