img {
  border-radius: 10px;
  -webkit-border-radius: 10px; /* Safari/Chrome */
  -moz-border-radius: 10px; /* Firefox */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Safari/Chrome */
  -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Firefox */
}

// Grid customized styles


/* styles for the people grid  */
.contrib_avatar {
  border-radius: 50%;
}

.ppl_img {
  padding-left: 2em;
  padding-right: 2em;
}

.ppl_social a {
  margin-right: 10px;
  text-decoration: none !important;
}

.grid.people {
  grid-gap: 60px;
}
.person__item {
  //margin: 2.2em;
  text-align: center;
}

h4.person_name {
    margin-top: 0.6em;
    margin-bottom: 0;
    font-size: 1.3em;
  a {
    text-decoration: none;
  }
}

.person_img {
  -webkit-filter: drop-shadow(3px 3px 3px #999);
  filter: drop-shadow(3px 3px 3px #999);
}

.person_img img {
  width: 100%;
}

div > div {
  padding: 10px;
}

.contrib_org {font-weight:normal;
  font-size:70%!important;
  margin-bottom: 0!important;
}


/* Fix people page - allow for tall images */
.archive__item-teaser.tall {
  max-height: 320px!important;
}

h2.clearall {
  clear: both;
}

/* Sidebar author with circle font and header font adjustment */
.sidebar .author__name {
  font-family: $header-font!important;
  font-size: .9em;
}


.wide .archive {
  width: calc(100% - 100px);
}

.wide__p_text {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}


/* max 480 px */
@media screen and (max-width: 480px) {

  .archive__item {
    padding: 0!important;

    & .archive__item-excerpt {
      font-size: .8em!important;
      padding: 0!important;
    }
  }


  .taxonomy__index {
    font-size: .9em!important;
  }

  .back-to-top {
    font-size: 1.2em!important;
  }

  .card-body {
    padding: 0!important;
  }

  .grid {
    font-size: 1.2em;

    &.element-item {
      padding:0;
    }
  }

  .grid-isotope {
    font-size: 1.3em;
  }

  .contrib_org, .ppl_social {
    font-size: .9em !important;
  }

  .card-body {

    & .btn {
      font-size: 1em;
    }

    & .archive__item-excerpt {
      font-size: 1em;
    }

  }

  .feature__item--center {
    font-size: 1.1em;

    & .archive__item {
      padding:0;
      line-height: 1.3em;
    }

    & .archive__item-excerpt {
      padding:0;
      font-size: .7rem;

    }
  }
  .feature__item {
    width: 100%!important;
  }

  h1, h2, h3, .archive__item-title {
    font-size: 1.6em!important;
  }
  .btn--large {
    font-size: 1.3em!important;
  }

  .wide #main {
    padding-left: 1em;
    padding-right: 1em;
  }

  .wide__p_text {
    max-width: 90%!important;
    padding-left: 1em;
  }

  ol {
    padding-left: 1em;
  }
}
