/* ==========================================================================
   pyos Variables - breaking away from mm theme
   ========================================================================== */

/*
   Typography
   ========================================================================== */

/* font weights */
$weight-1: 100;
$thin-weight: 200;
$weight-3: 300;
$weight-4: 400;
$weight-5: 500;
$semibold-weight: 600;
$bold-weight: 700;
$xbold-weight: 800;
$black-weight: 900;

$doc-font-size: 15 !default;

/* paragraph indention */
$paragraph-indent: false !default; // true, false (default)
$indent-var: 2em !default;

/* system typefaces */
$serif: Georgia, Times, serif !default;
$sans-serif:
  "Nunito Sans",
  -apple-system,
  BlinkMacSystemFont,
  "Helvetica Neue",
  "Lucida Grande",
  Arial,
  sans-serif !default;
$monospace: "Poppins", Monaco, Consolas, monospace !default;

/* sans serif typefaces */
$sans-serif-narrow: $sans-serif !default;
$helvetica: Helvetica, "Helvetica Neue", Arial, sans-serif !default;

/* serif typefaces */
$georgia: Georgia, serif !default;
$times: Times, serif !default;
$bodoni: "Bodoni MT", serif !default;
$calisto: "Calisto MT", serif !default;
$garamond: Garamond, serif !default;

$global-font-family: $sans-serif !default;
$header-font-family: "Poppins", cursive, $sans-serif !default;
$caption-font-family: $sans-serif !default;
$header-font: "Itim", cursive; //h1 only
$body-font: "Nunito Sans", sans-serif !default; //'Open Sans', sans-serif;

/* type scale */
$type-size-1: 2.441em !default; // ~39.056px
$type-size-2: 2.49em !default; // ~31.248px h2
$type-size-3: 1.563em !default; // ~25.008px
$type-size-4: 1.25em !default; // ~20px
$type-size-5: 0.85em !default; // ~13.6px
$type-size-6: 0.75em !default; // ~12px main body font
$type-size-7: 0.64em !default; // ~10.24px
$type-size-8: 0.635em !default; // ~10.16px

/* headline scale */
$h-size-1: 1.563rem !default; // ~25.008px
$h-size-2: 2.5rem !default; // ~20px H2 increased 2.0
$h-size-3: 2.07rem !default; // ~18px increased
$h-size-4: 1.78rem !default; // ~17px
$h-size-5: 1.03125em !default; // ~16.5px
$h-size-6: 1em !default; // ~16px

/* kbd colors */
$kbd-color-background: #bbbdc3;
$kbd-color-border: #999ba5;
$kbd-color-text: #222325;

/*
   Colors
   ========================================================================== */
$nav-font-color: #3d2a46;
$nav-hover-color: #8d0065;
$background-block: #d6cfde;

/* pyos colors */

$pyos-darkpurple: #542668;
$pyos-lightpurple: #e1dfed;
$pyos-teal: #81c0aa;
$pyos-magenta: #bb82b0;
$pyos-yellow: #f6f0dc;
$pyos-mediumpurple: #735fab;

$gray: #24052f !default;
$dark-gray: #4c454e !default;
$darker-gray: mix(#000, $gray, 60%) !default;
$light-gray: mix(#fff, $gray, 50%) !default;
$lighter-gray: mix(#fff, $gray, 90%) !default;

$background-color: #fff !default;
$code-background-color: #fafafa !default;
$code-background-color-dark: $light-gray !default;
$text-color: $dark-gray !default;
$muted-text-color: mix(#fff, $text-color, 18%) !default;
$border-color: $lighter-gray !default;
$form-background-color: $lighter-gray !default;
$footer-background-color: $lighter-gray !default;

$primary-color: #bab3d4 !default;
$success-color: #81c0aa !default;
$warning-color: #e6cb72 !default;
$danger-color: #f9937c !default;
$info-color: #33205c !default;
$focus-color: $primary-color !default;
$active-color: mix(#fff, $primary-color, 80%) !default;

/* YIQ color contrast */
$yiq-contrasted-dark-default: $dark-gray !default;
$yiq-contrasted-light-default: #fff !default;
$yiq-contrasted-threshold: 175 !default;
$yiq-debug: false !default;

/* brands */
$behance-color: #1769ff !default;
$bitbucket-color: #205081 !default;
$dribbble-color: #ea4c89 !default;
$facebook-color: #3b5998 !default;
$flickr-color: #ff0084 !default;
$foursquare-color: #0072b1 !default;
$github-color: #171516 !default;
$gitlab-color: #e24329 !default;
$instagram-color: #517fa4 !default;
$keybase-color: #ef7639 !default;
$lastfm-color: #d51007 !default;
$linkedin-color: #007bb6 !default;
$mastodon-color: #2b90d9 !default;
$pinterest-color: #cb2027 !default;
$reddit-color: #ff4500 !default;
$rss-color: #fa9b39 !default;
$soundcloud-color: #ff3300 !default;
$stackoverflow-color: #fe7a15 !default;
$tumblr-color: #32506d !default;
$twitter-color: #55acee !default;
$vimeo-color: #1ab7ea !default;
$vine-color: #00bf8f !default;
$youtube-color: #bb0000 !default;
$xing-color: #006567 !default;

/* links */
// Note that the link color is mixed with info-color here
// we could just make it a solid color
$link-color: mix(#7b7979, $info-color, 20%) !default;
$link-color-hover: mix(#000, $link-color, 25%) !default;
$link-color-visited: mix(#fff, $link-color, 15%) !default;
$masthead-link-color: $primary-color !default;
$masthead-link-color-hover: mix(#000, $primary-color, 25%) !default;
$navicon-link-color-hover: mix(#fff, $primary-color, 75%) !default;

/* notices */
$notice-background-mix: 80% !default;
$code-notice-background-mix: 90% !default;

/* syntax highlighting (base16) */
$base00: #263238 !default;
$base01: #2e3c43 !default;
$base02: #314549 !default;
$base03: #546e7a !default;
$base04: #b2ccd6 !default;
$base05: #eeffff !default;
$base06: #eeffff !default;
$base07: #ffffff !default;
$base08: #f07178 !default;
$base09: #f78c6c !default;
$base0a: #ffcb6b !default;
$base0b: #c3e88d !default;
$base0c: #89ddff !default;
$base0d: #82aaff !default;
$base0e: #c792ea !default;
$base0f: #ff5370 !default;

/*
   Breakpoints
   ========================================================================== */
$mobile: 480px !default;
$small: 600px !default;
$medium: 768px !default;
$medium-wide: 900px !default;
$large: 1024px !default;
$x-large: 1280px !default;
$max-width: $x-large !default;

/*
   Grid
   ========================================================================== */

$right-sidebar-width-narrow: 200px !default;
$right-sidebar-width: 300px !default;
$right-sidebar-width-wide: 400px !default;

/*
   Other
   ========================================================================== */

$border-radius: 4px !default;
$box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125) !default;
$nav-height: 2em !default;
$nav-toggle-height: 2rem !default;
$navicon-width: 1.5rem !default;
$navicon-height: 0.25rem !default;
$global-transition: all 0.2s ease-in-out !default;
$intro-transition: intro 0.3s both !default;
