name: ALL Contribs & Reviewers Update
# Update all contributor and review data from Github api and issues (the other workflow just adds any new missing data but won't repopulate things like date accepted, or user data that may have changed in people's profiles.
on:
  workflow_dispatch:
jobs:
  run-meta:
    if: github.repository_owner == 'pyopensci'
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Upgrade pip
        run: |
          # install pip=>20.1 to use "pip cache dir"
          python -m pip install --upgrade pip wheel
      - name: Install pyosmeta and run update contribs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          pip install pyosmeta@git+https://github.com/pyopensci/update-web-metadata
          update-contributors --update update_all
          update-reviews
          update-review-teams
      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1
        with:
          extra_args: --files _data/packages.yml _data/contributors.yml
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          add-paths: |
            _data/contributors.yml
            _data/packages.yml
          author: Leah <leah@pyopensci.org>
          base: main
          branch: contribs
          commit-message: "Update: Contributor & review file update"
          delete-branch: true
          title: Update contributor and review data
        env:
          # Custom token needed to trigger PR checks, as GITHUB_TOKEN won't
          # https://github.com/peter-evans/create-pull-request/blob/main/docs/concepts-guidelines.md#triggering-further-workflow-runs
          GITHUB_TOKEN: ${{ secrets.PYOS_PR_TOKEN }}
